# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Trained models
models/*

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db